{% extends 'core/base.html' %}

{% block title %}Log in | {% endblock %}

{% block content %}
{% load static %}
<div class="login-card-container">
    <div class="login-card">
        <div class="login-card-logo">
            <img src="{% static "image/ai.png" %}" alt="logo"> 
        </div>
        <div class="login-card-title">
            <h1>Sign In</h1>
            <p>Log in and enjoy ChatGTP</p>
        </div>
        <form method="post" action="." id="login-form">
            {% csrf_token %}

            <div class="form-item">
                <input type="text" name="username" placeholder="Username">      <!--check-->
            </div>
            <div class="form-item">
                <input type="password" name="password" placeholder="Password">  <!--check-->
            </div>

            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %} 
                        <div  class="login-error">
                            <p>{{ error|escape }}</p>
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endif %}
            <button id="login">Log In</button>               <!--check-->
        </form>
    </div>
</div>

{% endblock %}