{% extends 'core/base.html' %}

{% block title %}Sign up | {% endblock %}

{% block content %}
{% load static %}

<div class="login-card-container">
    <div class="login-card">
        <div class="login-card-logo">
            <img src="{% static "image/ai.png" %}" alt="logo"> 
        </div>
        <div class="login-card-title">
            <h1>Sign Up</h1>
            <p>Sign up to enjoy ChatGTP</p>
        </div>
        <form method="post" action="." id="login-form">
            {% csrf_token %}

            <div class="form-item">
                <input type="text" name="username" placeholder="Username">      
            </div>
            <div class="form-item">
                <input type="password" name="password1" placeholder="Password"> 
            </div>
            <div class="form-item">
                <input type="password" name="password2" placeholder="Confirm your password"> 
            </div>

            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %} 
                        <div  class="login-error">
                            <p>{{ error|escape }}</p>
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endif %}

            <button id="login">Sign Up Now</button>               
        </form>
    </div>
</div>

{% endblock %}