
body{
    background-color: rgb(0, 0, 235);
}

nav{
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 1em 3em;
    background-color: rgb(20, 0, 151);
}

#loop-back-link{
    font-size: 25px;
    color:white;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 2em 3em;
    background-color: rgb(20, 0, 151);
}

#button-div{
    display:flex;
    align-items: center;
    justify-content: space-around;
}

.sulo{
    margin-left:20px;
    padding:1em 20px;
    border-radius: 15%;
    background-color: blue;
    color:White;
}
.sulo:hover{
    background-color: rgb(147, 131, 255);
}

.rolo{
    color:White;
}
.rolo:hover{
    color: gray;
}

.page-title{
    padding:2em 4em;
    text-align: center;

}

.page-title h1 {
    font-size: 50px;
    color:white;
}


#login-form{
    padding-inline: 2em;
    margin-inline: auto;
}

#login-form label {
    color:white;
}

#login-form div {
    margin-bottom: 2em;
}

#login-form div input{
   width:100%;
   margin-top:1em;
   padding:1em 2em;
   border-radius: 10% / 25%;
}

#login-form .login-error{
    padding:2em;
    border-radius: 15%;
    background-color: red ;
    color:white;
}

#login-form #login{
    padding:15px 22px;
    border-radius: 15%;
    color:white;
    background-color: rgb(0, 0, 184);
} 

#login-form #login:hover{
    background-color: rgb(111, 111, 255);
}

.container{
    width:100%;
}

#add-form{
    width:100%;
}

#create-room{
    display:inline-block;
    width:30%;
    font-size: larger;
    padding:1em;
    background-color: rgb(0, 0, 155);
    border-radius: 10%/20%;
    color:white;
}

#remove-room{
    display:inline-block;
    width:25%;
    font-size: larger;
    padding:1em;
    margin:4em;
    background-color: rgb(237, 61, 12);
    border-radius: 10%/20%;
    color:white;
}

#room_name{
    padding:20px;
    display:inline-block;
    width:69%;
    font-size:larger;
    border-radius: 10%/20%;
    margin:10px;
}

#create-room:hover{
    background-color: rgb(111, 111, 255);
    cursor:grab;
}

#remove-room:hover{
    background-color: rgb(111, 111, 255);
    cursor:grab;
}

#chat-rooms{
    width:100%;
    display:flex;
    flex-wrap:wrap;
    align-items: center;
}

.block-message{
    width:50%;
    padding:1%;
    margin-left:25%;
    display:flex;
    align-items: center;
    background-color: white;
    border-radius: 5%/10%;
}

.message-typing{
    width:50%;
    padding:1%;
    margin-left:25%;
    margin-top:2%;
    display:flex;
    align-items: center;
    background-color: white;
    border-radius: 5%/40%;
}

.message-typing #sendmessage{
    margin-left:40em;
    vertical-align:2em;
}

.message-typing #chat-message-input{
    width:80%;
    height:5%;
    margin-left:1%;
    vertical-align:50%;
}

.rooms1{
    width:100%;
    padding:1%;
}

.rooms2{
    padding:1em;
    background-color: white;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    border-radius: 5%/10%;
    text-align: center;
}

.rooms2 h2{
    margin-bottom: 1em;
    font-size: x-large;
    font-weight: 600;
}

.rooms2 a{
    padding:1em 2em;
    display:block;
    border-radius: 5%/10%;
    color:white;
    background-color: rgb(0, 0, 155);
}

.rooms2 a:hover{
    background-color: rgb(111, 111, 255);
}

@media (min-width: 1024px) { 
    
    .page-title{
        padding:10em;
    }
    .page-title h1 {
        font-size: 50px;
    }

    #login-form{
        width:25%;
    }
    #create-room{
        width:20%;
    }
    #room_name{
        width:25%;
    }
    .rooms1{
        width:25%;
    }


}